.mobile{
    display: none;
}
@media(max-width:992px){
   
}
@media(max-width:768px){
    .container {
        max-width: 576px;
        }
    
}
@media(max-width:576px){
    .container {
        max-width: 350px;
    }
    .mobile{
        display: block;
        justify-content: flex-start;
    }

   .menu ul{
        display: none;
    } 
    
}
